<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdlx.dao.BaseIndustryInfoMapper">
  <resultMap id="BaseResultMap" type="com.sdlx.model.BaseIndustryInfo">
    <id column="INDUSTRY_ID" jdbcType="INTEGER" property="industryId" />
    <result column="INDUSTRY_NAME" jdbcType="VARCHAR" property="industryName" />
  </resultMap>
  <sql id="Base_Column_List">
    INDUSTRY_ID, INDUSTRY_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BASE_INDUSTRY_INFO
    where INDUSTRY_ID = #{industryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from BASE_INDUSTRY_INFO
    where INDUSTRY_ID = #{industryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sdlx.model.BaseIndustryInfo">
    insert into BASE_INDUSTRY_INFO (INDUSTRY_ID, INDUSTRY_NAME)
    values (#{industryId,jdbcType=INTEGER}, #{industryName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sdlx.model.BaseIndustryInfo">
    insert into BASE_INDUSTRY_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="industryId != null">
        INDUSTRY_ID,
      </if>
      <if test="industryName != null">
        INDUSTRY_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="industryId != null">
        #{industryId,jdbcType=INTEGER},
      </if>
      <if test="industryName != null">
        #{industryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sdlx.model.BaseIndustryInfo">
    update BASE_INDUSTRY_INFO
    <set>
      <if test="industryName != null">
        INDUSTRY_NAME = #{industryName,jdbcType=VARCHAR},
      </if>
    </set>
    where INDUSTRY_ID = #{industryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sdlx.model.BaseIndustryInfo">
    update BASE_INDUSTRY_INFO
    set INDUSTRY_NAME = #{industryName,jdbcType=VARCHAR}
    where INDUSTRY_ID = #{industryId,jdbcType=INTEGER}
  </update>
</mapper>